VITE_SOLANA_RPC=https://api.devnet.solana.com
VITE_PROGRAM_ID=89qGDjXGcV9zi3968DtRLNzBn5KXhYmSGJkjKntksCdk
VITE_ORACLE_URL=http://localhost:8787
VITE_BACKEND_URL=http://localhost:8080
VITE_REOWN_PROJECT_ID=
